{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

<!-- Translated to German -->
{{define "sidebar"}}
<div class="col-3 d-none d-md-block">
	<div class="card">
	  <div class="card-header">
		{{T "Explore" .}}
	  </div>
		<div class="list-group list-group-flush">
      <a href="/explore/projects" class="list-group-item" id="menuExploreProjects">{{T "Projects" .}}</a>
			<a href="/explore/globaldashboard" class="list-group-item" id="menuExploreGlobalDashboard">{{T "Dashboard" .}}</a>
			<!-- <a href="/explore/groups" class="list-group-item" id="menuExploreGroups">{{T "Groups" .}}</a> -->
			<a href="/explore/users" class="list-group-item" id="menuExploreUsers">{{T "Users" .}}</a>
		</div>
	</div>
</div>
{{end}}